@import './Global.scss';

.slick-slider {
    box-shadow: 0 20px 40px rgba(46,46,46,0.2);
    margin-top: 100px;
}

.slick-slide.slick-active.slick-current {
    background-color: white;
}

.slick-slider.slick-initialized {
    padding-top: 50px;
}

.slick-dots li.slick-active button:before {
    color: $orange;
    font-size: 10px;
}

.slick-dots li button:before {
    font-size: 10px;
}

.slick-dots {
    bottom: 20px;
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slide {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    text-align: left;
    padding: 50px;
    width: 80% !important;
    margin: 0 auto; 
    align-items: center;
    outline: none !important;
    
    .slide:focus {
        outline: none;
    }

    @media screen and (max-width: 900px) {
        flex-direction: column !important;
        text-align: center;
        padding: 50px 0;
        outline: none;
    }

    .content {
        padding: 0;
    }

    .product {
        margin: 0 20px 0 0;

        @media screen and (max-width: 900px) {
            margin: 50px 0;
        }

        img {
            width: 250px;
        }
    }
}

.slick-prev:before, .slick-next:before {
    content: none !important;
}

.slick-next {
    transform: rotate(90deg);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $dark-grey;
    z-index: 1;
    width: auto;
    right: -5px;

    @media screen and (max-width: 600px) {
        margin: 0;
        right: -40px;
    }
}

.slick-prev {
    transform: rotate(-90deg);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $dark-grey;
    z-index: 1;
    width: auto;
    left: 5px;

    @media screen and (max-width: 600px) {
        margin: 0;
        left: -40px;
    }
}

.slider-selector {
    display: flex;
    margin-top: 0;
    margin-bottom: 100px;

    .activeGood, .activeBetter, .activeBest {
        background-color: $orange;
    }

    a {
        flex-grow: 0 0 1;
        width: 33.3333%;
        color: white;
        font-family: $heading-f;
        background-color: $dark-grey;
        padding: 2rem;
        border: none;
        border-right: 1px solid white;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        transition: 0.1s ease-in-out all;
    }

    a:last-child {
        border: none;
    }

    a:active, a:link, a:hover {
        background-color: $orange;
    }

    a:focus {
        outline: none;
    }
}

.slide-options {
    position: absolute;
    margin-top: 40px;
    padding: 0;
    z-index: 10;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;

    ul {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0;
        justify-content: center;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        li {
            list-style: none;
            margin: 20px 0;

            a {
                padding: 1rem;
                margin: 1rem;
                border-radius: 40px;
                border: 2px solid $orange;
                font-size: 0.8rem;
                transition: 0.3s all ease-in-out;
            }
        
            a:hover {
                background-color: $orange;
                color: white;
            }
        
            a:active {
                background-color: $orange;
                color: white;
            } 
        }
    }
}