@import './Global.scss';

.contact-info {
    display: flex;
    flex-grow: 0 1;
    box-shadow: 0 20px 40px rgba(46,46,46,0.2);
    padding: 2rem 3rem;

    .contact-content {
        align-items: center;

        hr {
            margin-bottom: 50px;
        }
        ul {
            padding: 0;
            list-style: none;

            a {
                color: $orange;
                text-decoration: none;
                font-weight: bold;
            }

            li {
                padding: 10px 0;
            }
            
            li:last-child {
                align-self: flex-end;
            }
        }
    }
}