.featuredBrands {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(248, 248, 248, 0.8);
    padding: 150px 0;

    .brands {
        width: 100%;
        margin-top: 50px;

        ul {
            display: flex;
            justify-content: space-evenly;
            padding: 0;
            width: 100%;
            align-items: center;

            @media screen and (max-width: 768px) {
                flex-direction: column;
                align-items: center;
            }
            
            li {
                list-style: none;
                margin: 25px 0; 

                img {
                    width: 150px;
                }
            }
        }
    }
}