.featuredProducts {
    display: flex;
    text-align: center;
    margin-bottom: 100px;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @media screen and (max-width: 375px) {
        flex-direction: column;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    .singleProduct {
       flex-grow: 1 1 100%;
    
        img {
            margin-bottom: 20px;
        }

        a {
            font-weight: 700;
            text-decoration: none;
            color: black;
            margin-top: 15px;
            margin-bottom: 0;
            padding: 0;
        }

        p {
            font-weight: 200;
        }
    } 
}