@import './Global.scss';

.footerBg {
    background-color: $dark-grey;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0;
    color: white;
    font-family: $body-f;
    font-size: 14px;
    line-height: 24px;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
        text-align: center;

        ul {
            padding: 0;
        }
    }

    .logo {   
        width: 135px;
        align-self: center;
    }

    a {
        color: white;
        text-decoration: none;
    }

    ul {
        list-style: none;
    }
}