@import "./Global.scss";

.form-container {
    display: flex;
    padding: 10px;
    flex-grow: 1;
    padding: 2rem;

    @media screen and (max-width: 875px) {
        width: 100%;
        padding: 0;
    }

    form, p, input, textarea {
        width: 100%;
        padding: 0;
    }

    input {
        border: none;
        border-bottom: 1px solid grey;
    }
    textarea {
        height: 140px;
        resize: none;

        &::placeholder {
            padding: 1rem;
        }
    }

    p {
        padding: 0;
        margin-bottom: 2rem;
    }

    button {
        width: 100%;
        padding: 1rem;
        background-color: $orange;
        color: white;
        font-weight: 600;
    }
}