@import '../styles/Global.scss';

.content-container  {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;

    @media screen and (max-width: 875px) {
        flex-direction: column-reverse;
    }

    .image-box {
        height: 500px;
        position: relative;
        background-color: $orange;
        flex-grow: 1;

        @media screen and (max-width: 875px) {
            flex-direction: column;
        }

        .image-box-content {
            color: white;
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            padding: 25px 0px;
            flex-shrink: 1;
            width: 100%;
            justify-content: space-evenly;

            @media screen and (max-width: 875px) {
                order: 2;
            }
        }
        
        button {
            border-radius: 50%;
            height: 25px;
            width: 25px;
            background-color: white;
            border: none;
            transition: 0.1s ease-in-out all;

            &:hover {
                width: 30px;
                height: 30px;
            }

            a {
                text-decoration: none;
                color: $orange;
                font-weight: bold;
                font-size: 20px;
                padding: 0;
            }
        }
    }

    .content-box {
        height: 500px;
        background-color: $dark-grey;
        color: white;
        padding: 0;
        flex-grow: 1;

        @media screen and (max-width: 875px) {
            order: 1;
        }

        .content-box-content {
            position: relative;
            padding-top: 20px;
            width: 80%;
            margin: 0 auto;
            line-height: 1.5;
            height: 90%;

            .partner-logo {
                position: absolute;
                bottom: 0;
            }
        }
    }
}