$orange: #F04923;
$orange-overlay: rgba(240,73,35,0.2);
$light-grey: #F8F8F8;
$dark-grey: #353535;

$heading-f: 'Oswald', sans-serif;
$body-f: 'Montserrat', sans-serif;


.container{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.sectionTitle {
    text-align: center;
    margin-bottom: 50px;
    font-family: $heading-f;
    color: $dark-grey;
}

h2 {
    font-family: $heading-f;
    font-size: 36px;
    margin: 0;
}

p, a {
    font-family: $body-f;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
}

.ctaSection {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto 100px 0;

    @media screen and (max-width: 375px) {
        display: block;
    }

    @media screen and (max-width: 875px) {
        display: block;
    }
}

.primary-btn {
    background-color: $orange;
    color: white;
    width: 125px;
    height: 40px;
    border-radius: 0 5px 5px 0;
    font-family: $heading-f;
    border-color: transparent;
}

.secondary-btn {
    background-color: $dark-grey;
    color: white;
    width: 125px;
    height: 40px;
    border-radius: 5px;
    font-family: $heading-f;
    border-color: transparent;
}

input {
    height: 40px;
    padding: 0 10px;
}

.contact-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 100px;

    @media screen and (max-width: 875px) {
        flex-direction: column;
    }
}