@import './Global.scss';

.heroSection {
    height: 90vh;
    position: relative;
    margin-bottom: 100px;
    overflow: hidden;
    background-image: url(../images/video.jpg);
}

.heroContent {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;

    @media screen and (max-width: 375px) {
        width: 100%;
    }

    h1 {
        font-size: 70px;
        padding-bottom: 0;
        margin: 0;
        font-family: $heading-f;
        line-height: 1;

        @media screen and (max-width: 375px) {
            font-size: 60px;
        }
    }
}

.heroNav {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 50%;
    margin-bottom: 50px;
    z-index: 2;

    @media screen and (max-width: 768px) {
        display: none;
    }
    
   ul {
       display: flex;
       list-style: none;
       padding: 0;
       
       li {
           display: inline-block;
           padding: 0 20px 0 0;
       }
   }
   
   a {
       color: white;
       text-decoration: none;
   }

   .heroCta {
       float: right;
   }
}

.heroDetails {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translate(-50%, -50%);
    transform: rotate(-90deg);
    color: white;
    height: 0;

    p {
        margin: 0;
    }
}

#video-background {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        margin-top: -80px;
        z-index: 0;

        @media screen and (max-width: 740px){
            display: none;
        }
    }

    .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: -5;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        z-index: 1;
    }