@import './Global.scss';

.heroSectionSmall {
    height: 60vh;
    background-color: grey;
    position: relative;
    margin-bottom: 100px;
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/video.jpg);
}

.heroContent {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

    @media screen and (max-width: 375px) {
        width: 100%;
    }

    h1 {
        font-size: 70px;
        padding-bottom: 0;
        margin: 0;
        font-family: $heading-f;
        line-height: 1;

        @media screen and (max-width: 375px) {
            font-size: 60px;
        }
    }
}

.heroNav {
    position: absolute;
    bottom: 0;
    max-width: 1200px;
    width: 100%;
    margin-bottom: 50px;
    
   ul {
       list-style: none;
       padding: 0;
       
       li {
           display: inline-block;
           padding: 0 20px 0 0;
       }
   }
   
   a {
       color: white;
       text-decoration: none;
   }

   .heroCta {
       float: right;
   }
}

.heroDetails {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translate(-50%, -50%);
    transform: rotate(-90deg);
    color: white;
    height: 0;

    p {
        margin: 0;
    }
}