@import './Global.scss';

.instagram {
    padding: 25px 0;

    .instagramPosts {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        
        .post {
            margin: 25px;

            @media screen and (max-width: 768px) {
                margin: 0 25px;
            }

            a {
                height: 365px;
                width: 365px;

                img {
                    height: 365px;
                    width: 365px;
                }
            }
        
        }
    }
}