@import './Global.scss';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
  }
  
  .modal-main {
    position: fixed;
    background: white;
    width: 70%;
    height: 80%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 4em;
    overflow-y: auto;
  }

  .close-button {
    position: absolute;
    z-index: 5;
    top: 25px;
    right: 25px;
    border-radius: 25px;
    background-color: transparent;
    border: 3px solid $orange;
    font-family: $heading-f;
    padding: 0.75em;
    font-size: 0.75em;
    text-transform: uppercase;
    transition: 0.3s all ease-in-out;
  }
  
  .close-button:hover {
    background-color: $orange;
    color: white;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  label {
    margin-bottom: 1rem;
  }