@import './Global.scss';


.header-background {
    width: 100%;
    background-color: white;
}

.mainNav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    z-index: 10;

    .logo {   
        width: 135px;
    }

    .navbar {
        list-style: none;
        padding: 0;
        
        @media screen and (max-width: 850px) {
            display: none;
        }

        li {
            display: inline-block;
            padding: 0 20px;

            a {
                color: $dark-grey;
                font-size: 14px;
                text-decoration: none;
            }
        }
    }
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 36px;
    top: 36px;
    display: none;

    @media screen and (max-width: 850px) {
        display: block;
    }
  }
   
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
   
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 25px;
    width: 25px;
  }
   
  /* Color/shape of close button cross */
  .bm-cross {
    background: white;
  }
   
  /* General sidebar styles */
  .bm-menu {
    background: $dark-grey;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  .bm-menu-wrap {
    position: absolute;
    top: 0;
    right: 0;
  }
   
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: $dark-grey;
  }
   
  /* Wrapper for item list */
  .bm-item-list {
    color: white;
    padding: 0.8em;

    a {
        color: white;
        text-decoration: none;
        font-size: 16px;
    }
  }
   
  /* Individual item */
  .bm-item {
    display: inline-block;
    font-family: $body-f;
    margin-bottom: 25px;
  }
   
  /* Styling of overlay */
  .bm-overlay {
    background: transparent;
    display: none;
  }