@import './Global.scss';

.quoteCta {
    flex-grow: 0 1;
    min-width: 50%;
    text-align: center;
    height: 340px;
    position: relative;
    color: white;
    box-shadow: 0px 20px 40px rgba(46,46,46,0.2);
    margin-right: 2%;
    background: linear-gradient(0deg,rgba(216, 58, 23, 0.8),rgba(240,73,35,0.8)),url('../images/cta-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 875px) {
        width: 100%;
        margin-bottom: 50px;
       }

    @media screen and (max-width: 375px) {
       width: 100%;
      }

    .quoteContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;

        h2 {
            line-height: 1;
        }
    }
}