@import './Global.scss';

.quoteCtaWhite {
    margin-top: -75px;
    margin-bottom: 50px;
    width: 100%;
    height: 375px;
    text-align: center;
    position: relative;
    box-shadow: 0px 20px 40px rgba(46,46,46,0.2);
    margin-right: 2%;
    background: white;

    @media screen and (max-width: 875px) {
        width: 100%;
       }

    @media screen and (max-width: 375px) {
       width: 100%;
      }

    .quoteContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;

        h2 {
            line-height: 1;
        }
    }
}