@import "./Global.scss";

.quoteform-container {
    display: flex;
    z-index: 10;
    padding: 2rem;
    margin-bottom: 150px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);

    form, p, input, textarea {
        width: 100%;
        padding: 0;
    }

    input {
        border: none;
        border-bottom: 1px solid grey;
    }

    textarea {
        height: 140px;
        resize: none;
        
        &::placeholder {
            padding: 1rem;
        }
    }

    select {
        width: 100%;
        height: 40px;
        border: none;
        background: white;
        border-bottom: 1px solid grey;
    }

    p {
        padding: 0;
        margin-bottom: 2rem;
    }

    button {
        width: 100%;
        padding: 1rem;
        background-color: $orange;
        color: white;
        font-weight: 600;
        border: none;
    }

    .form-inputs {
        display: flex;
        
        p {
            margin-right: 10px;
        }
        p:last-child {
            margin-right: 0;
        }
    }
}