@import './Global.scss';

.reviews {
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: url(../images/logo-bg.svg) $light-grey;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    .reviewsContent {
        width: 100%;

        h3 {
            font-size: 38px;
            margin-bottom: 0;
        }

        p {
            font-size: 14px;
            line-height: 24px;
        }

        .sectionContent {
            display: flex;
            align-items: center;
            flex-direction: row;

            
            
            ul {
                list-style: none;
                display: flex;
                align-items: center;
                margin: 0;
                padding: 2rem;
                margin-top: 2rem;
                flex-direction: row;

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                }

                li {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }

                img {
                    height: 100px;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    
}