@import '../styles/Global.scss';

.services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 100px !important;
}

.single-service {
    flex-grow: 0 0 1;
    height: 350px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;

    .single-service-image {
        width: 350px;
        overflow: hidden;

        img {
            position: absolute;
            transform: translate(-50%,-50%);
            top:50%;
            left:50%;
            width: 100%;
            height: 100%;
        }
    }
}

.service-content {
    position: absolute;
    background-color: $dark-grey;
    padding: 5px 30px;
    width: 100%;
    bottom: 0;
    color: white;

    h3 {
        margin: 1rem 1rem 0 1rem;
    }

    p {
        margin-top: 0;
    }

    a {
        color: white;
        text-decoration: none;
    }

    button {
        background-color: transparent;
        color: white;
        border: none;
        padding: 0;
        margin: 0.5rem 1rem 1rem 1rem;
        cursor: pointer;
        font-size: 0.8rem;
    }
}