@import './Global.scss';

.snip-layout .snip-btn {
    background-color: $orange;
}

#snipcart-header, #snipcart-footer {
    background-color: $dark-grey;
}

#snipcart-main-content {
    font-family: $body-f;

    h2 {
        font-family: $heading-f;
    }
}

.snip-layout .snip-layout__main-container {
    background: #fff;
    max-width: 62.25em;
    position: relative;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.snip-layout .snip-form__error {
    background: $orange;
}

.snip-layout .snip-btn--highlight {
    color: white;
    &:hover {
        background: $dark-grey;
    }
}
