@import './Global.scss';

.subscribeCta {
    flex-grow: 0 1;
    min-width: 50%;
    text-align: center;
    height: 340px;
    position: relative;
    background-color: white;
    box-shadow: 0px 20px 40px rgba(46,46,46,0.2);

    @media screen and (max-width: 875px) {
        width: 100%;
       }

    @media screen and (max-width: 375px) {
       width: 100%;
      }

    .subscribeContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        
        h2 {
            color: $dark-grey;
            line-height: 1;
        }
    }
}

.email-input {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;

    div {
        width: 100%;
        display: flex;
        align-items: center;
    }

    input {
        width: 70%;
        height: 36px;
        border-radius: 0;
    }

    button {
        width: 30%;
        border: none;
        background-color: $orange;
        color: white;
        width: 125px;
        height: 40px;
        border-radius: 0 5px 5px 0;
        font-family: $heading-f;
        border-color: transparent;
    }
}