@import './Global.scss';

.successMessage {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba($dark-grey, 0.7);

    .message-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 3rem;
        text-align: center;
        background-color: white;
        border: 10px solid $orange;

        .close-btn {
            background-color: white;
            border: none;
            font-size: 20px;
            font-family: $heading-f;
            color: $dark-grey;
        }

        h1 {
            font-family: $heading-f;
        }
        p {
            font-family: $body-f;
        }

        button {
            padding: 0;
            border-radius: 0;
            a {
                color: white;
                font-family: $heading-f;
                text-decoration: none;
            }
        }
    }
}