body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  margin: 50px 0;

    @media screen and (max-width: 768px) {
      height: 200px;
    }

    @media screen and (max-width: 375px) {
    height: 100px;
    }

    img {
      height: 100%;
    }
}

.icon {
  width: 100px;
}